<!DOCTYPE html>
<html>
<head>
    <title>Catalogo Prodotti</title>    <!quello che vedi nella linguetta della pagina>
</head>
<body>
    {% if nome %} <! controllo se il prodotto ha il nome(se in generale esiste), e metto i nuovi valori che utente inserisce nei vari campi. Questo vuol dire che utente vuole modificare il prodotto>
    <form method="post" action="/products/edit/{{id}}">
        <input type="text" name="nome" value={{nome}} placeholder="Nome" required>
        <input type="text" name="prezzo" value={{prezzo}} placeholder="Prezzo" required>
        {% if disponibile %}
            <input type="checkbox" name="disponibile" value="vero" checked> Disponibile
        {% else %}
            <input type="checkbox" name="disponibile" value="vero" > Disponibile
        {% end %}
        {% if categoria == "Elettronica" %} <! controllo la categoria per metterla nella tendina>
            <select name="categoria" required>
                <option value="Elettronica" selected>Elettronica</option>
                <option value="Abbigliamento">Abbigliamento</option>
            </select>
        {% else %}
            <select name="categoria" required>
                <option value="Elettronica">Elettronica</option>
                <option value="Abbigliamento" selected>Abbigliamento</option>
            </select>
        {% end %}
        <input type="submit" value="Modifica">
    </form>
    {% else %} <! se prodotto non esiste (non ha un nome), creo un nuovo prodotto. Questo vuol dire che utente vuole creare nuovo prodotto>
    <form method="post" action="/products/add">
        <input type="text" name="nome"  placeholder="Nome" required>
        <input type="text" name="prezzo"  placeholder="Prezzo" required>
        <input type="checkbox" name="disponibile" value="vero"> Disponibile
        <select name="categoria" required>
            <option value="" disabled selected>Categoria</option>
            <option value="Elettronica">Elettronica</option>
            <option value="Abbigliamento">Abbigliamento</option>
        </select>
        <input type="submit" value="Aggiungi prodotto">
    </form>
    {% end %}

<br>
    <nax>
        <a href="/products">Torna alla lista</a>
    </nax>
</body>
</html>