<!DOCTYPE html>
<html>
<head>
    <title>Catalogo Prodotti</title>    <!quello che vedi nella linguetta della pagina
</head>
<body>
<br>
    <form method="get" action="/products">
        <p>Filtra per categoria:</p>

<!TENDINA>

        <select name="categoria" onchange="this.form.submit()">

            <option value="">Tutte</option>
            {% for cat in categories %}
                <option value="{{ cat }}" {% if cat == selected %} selected {% end %}>{{ cat }}</option>
            {% end %}
        </select>

        <! faccio il controllo di disponibile dentro la checkbox, quindi se prodotto è disponibile mettiamo la checkbox, checked>
            <input type="checkbox" name="disponibile" value="on"
                   {% if solo_disponibile %}
                        checked
                   {% end %}
                   onchange="this.form.submit()"> Solo disponibili

    </form>


<br>
    <nax>
        <a href="/products/add">Aggiungi prodotto</a> <! link che mi porta alla pagina per modificare il prodotto (file add_edit.html)>
    </nax>


<!TABELLA>

<br>
<hr>

{% if products %}
        <table>
          <tr>
            <th>Nome  </th>
            <th>Categoria  </th>
            <th>Prezzo  </th>
            <th>Disponibile  </th>
            <th>Azioni  </th>
          </tr>
          {% for dict in products %} <!scorro dizionario di un prodotto e metto i suoi valori nella colonna giusta>
             <tr>
                <td>{{ dict['nome'] }}</td>
                <td>{{ dict['categoria']}}</td>
                <td>{{ dict['prezzo'] }}</td>
                 {% if dict['disponibile']%}
                    <td>Sì</td>
                 {% else %}
                    <td>No</td>
                 {% end %}

                <td>
                    <nax>
                        <a href="/products/edit/{{dict['id']}}">Modifica</a> <! link che mi porta alla pagina per modificare il prodotto in base all'id del prodotto (file add_edit.html)>
                    </nax>
                </td>
                <td>
                    <form action="/products/delete/{{dict['id']}}" method="post">
                        <input type="submit" value="Elimina" > <! bottone che in base all'id del prodotto lo elimina (funzione post del delete) >
                    </form>
                </td>
             </tr>
          {% end %}
        </table>
{% else %}
    <p> Nessun prodotto presente</p> <!se non ci sono prodotti nella lista>
{% end %}
</body>
</html>